<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(171 177 183)! important;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://s3.rdbuz.com/Images/rdc/rdc-redbus-logo.webp" style="width: 5rem;" alt="abhibus">
    </a>
    <div class="d-flex flex-column justify-content-center">
      <span>Trusted by</span>
      <span class="font-weight-bold">5 Crore+ Travellers</span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex justify-content-center collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Buses <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Flight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Track Tickets</a>
        </li>
        @if(loggedUserData){
        <li class="nav-item">
          <a class="nav-link text-success">{{loggedUserData.userName}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-success" (click)="logOff()">LogOff</a>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link text-danger" (click)="openModel()">Login/SignUp</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        @if(isLoginForm){
        <form>
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" name="userName"
              [(ngModel)]="registerObj.userName" />
            <label class="form-label" for="form2Example1">User Name</label>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" name="password"
              [(ngModel)]="registerObj.password" />
            <label class="form-label" for="form2Example2">Password</label>
          </div>
          <!-- Submit button -->
          <button type="button" data-mdb-button-init data-mdb-ripple-init (click)="onLogin()"
            class="btn btn-primary btn-block mb-4">Sign
            in</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a (click)="isLoginForm = false">Register</a></p>
          </div>
        </form>
        } @else{
        <form>
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form2Example2" class="form-control" name="userName"
              [(ngModel)]="registerObj.userName" />
            <label class="form-label" for="form2Example2">User
              Name</label>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form2Example2" class="form-control" name="fullName"
              [(ngModel)]="registerObj.fullName" />
            <label class="form-label" for="form2Example2">Full Name</label>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form2Example2" class="form-control" name="role" [(ngModel)]="registerObj.role" />
            <label class="form-label" for="form2Example2">Role</label>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" name="emailId"
              [(ngModel)]="registerObj.emailId" />
            <label class="form-label" for="form2Example1">Email address</label>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" name="password"
              [(ngModel)]="registerObj.password" />
            <label class="form-label" for="form2Example2">Password</label>
          </div>
          <!-- Submit button -->
          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4"
            (click)="onRegister()">Register</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Alread a member? <a (click)="isLoginForm = true">Login</a></p>
          </div>
        </form>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModel()">Close</button>
      </div>
    </div>
  </div>
</div>